{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>
    {% for listing in closed_listings %}

        <div class="card" style="width: 18rem;">
            <img src="{{listing.item_image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">{{ listing.description}}</p>
              <p class="card-text">Starting Bid: {{ listing.starting_bid}}</p>
              <p class="card-text">Current Bid: {{ listing.current_bid}}</p>
              <p class="card-text">Seller: {{ listing.seller}}</p>
              <a href="{% url "listing" listing.id %}" class="btn btn-primary">View Listing</a>
        </div><br>
    {% endfor %}
    
    
{% endblock %}