{% extends "auctions/layout.html" %}

{% block body %}
    <ul>
        <li>title: {{ listing.title }}</li>
        <li>current bid: {{ listing.current_bid }}</li>
        <li>description: {{ listing.description }}</li>
        <li>seller: {{ listing.seller }}</li>
        <div>
            {% if user.is_authenticated %}
                {% if is_in_watchlist %}
                    <form method="post" action="{% url 'deleteFromWatchlist' listing.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove from Watchlist</button>
                    </form>
                {% else %}
                <form method="post" action="{% url 'addToWatchlist' listing.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Watchlist</button>
                </form>
                {% endif %}
                
            {% endif %}

            <a href="{% url "addComment" id=comment.id %}">Add Comment</a>

            {% comment %} {% if user.is_authenticated %}
    <form method="post" action="{% url 'addToWatchlist' listing.id %}">
        {% csrf_token %}
        <button type="submit">
            {% if is_in_watchlist %}
                Remove from Watchlist
            {% else %}
                Add to Watchlist
            {% endif %}
        </button>
    </form>
{% endif %} {% endcomment %}


        </div>
    </ul>
{% endblock body %}