{% extends "auctions/layout.html" %}

{% block body %}
    <ul>
        <li>title: {{ listing.title }}</li>
        <li>start bid: {{ listing.starting_bid }}</li>
        <li>current bid: {{ listing.current_bid }}</li>
        <li>description: {{ listing.description }}</li>
        <li>seller: {{ listing.seller }}</li>
        <div>
            {% if user.is_authenticated %}
                {% if is_in_watchlist %}
                    <form method="post" action="{% url 'deleteFromWatchlist' listing.id %}">
                        {% csrf_token %}
                        <button type="submit">Remove from Watchlist</button>
                    </form>
                {% else %}
                <form method="post" action="{% url 'addToWatchlist' listing.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Watchlist</button>
                </form>
                {% endif %}
                
            {% endif %}

            {% comment %} {% if user.is_authenticated %}
                <form action="" method="post">
                    {{ form }}
                </form>
            
            {% endif %} {% endcomment %}

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h2>Bid</h2>
            {% if user.is_authenticated %}
                <form action="{% url "addBid" id=listing.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-warning">Add</button>
                </form>
            {% endif %}

            {% comment %} <div class="row mx-3"> {% endcomment %}
                <h2>Comments</h2><br>

                {% if user.is_authenticated %}
                    <form action="{% url "addComment" id=listing.id %}" method="post">
                        {% csrf_token %}
                        <label for="price">Add Comment</label>
                        <input type="text" name="newComment" placeholder="Add New Comment">
                        <button type="submit" class="btn btn-warning">Add</button>
                        <div class="form-group">
                            
                        </div>
                    </form>
                {% endif %}
                <br>
                {% for comment in comments %}
                    <li class="list-group-item">{{ comment.message }}</li>
                {% endfor %}
                
            {% comment %} </div> {% endcomment %}


        </div>
    </ul>
{% endblock body %}